*.pyc
*test.py
tmp_*

diff/
vul/
diff*/
vul-*/
repolists/
hidx/
hidx*/
result-0901*
*.tar.gz
*.html
*.spec
*.pkl

testcode/
misc/
experiments-related/
codesensor2python/build/
codesensor2python/
FuncParser/build/
kernel44/
FuncParser/FuncParser.jar

hmark/build/
hmark/dist/

NVDCVEcrawler/*.xml

# Pycharm
.idea/

# CVE
*.xml
*.zip

